.inline-block { 
    display: inline-block;
    vertical-align: top;
}

img.logo {
    width: 20px;
    height: auto;
    padding: 1%;
    text-align: center;
}

nav {
    width: 73%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
}

#mySidenav {
    height: 100%;
    width: 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 100px;
}

.sidenav{
    padding: 6px 6px 6px 18px;
    font-size: 16px;
    display: block;
}

p.sidenav {
    font-size: small;
}

#profileImg {
    height: 100px;
    text-align: right;
}