body{
    min-height: 100%;
}
.inline-block { 
    display: inline-block;
    text-align: right;
}

#logoImg {
    height: 100px;
    padding: 1%;
    text-align: center;
    top: 0;
    left: 0;
}

nav {
    width: 73%;
    padding: 1%;
}

ul {
    width: 50%;
}

#mySidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 100px;
}

.sidenav{
    padding: 6px 6px 6px 18px;
    font-size: 16px;
    display: block;
}

p.sidenav {
    font-size: small;
}

.heroImg {
    position: fixed;
    right: 0;
    width: 1100px;
}
#profileImg {
    height: 200px;
    float: left;
}

footer{
    text-align: left;
    display: block;
    margin: auto;
    bottom: 0;
}